@model GMAShop.DtoLayer.ProductDtos.UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Ürün Ekleme Sayfası</h4>

                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <div>
                            <label> Ürün ID</label>
                            <input type="text" readonly class="form-control" asp-for="ProductId" />
                        </div>
                        <div>
                            <label> Ürün Adı</label>
                            <input type="text" class="form-control" asp-for="ProductName" />
                        </div>
                        <div>
                            <label>Görsel</label>
                            <input type="text" class="form-control" asp-for="ProductImageUrl" />
                        </div>
                        <div>
                            <label>Fiyat</label>
                            <input type="text" class="form-control" asp-for="ProductPrice" />
                        </div>
                        <div>
                            <label>Açıklama</label>
                            <textarea class="form-control" asp-for="ProductDescription"></textarea>
                        </div>

                        <div>
                            <label>Kategori</label>


                            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })

                            @* <select id="categoryDropdown" name="category">
                            <option value="">Select a category</option>
                            @if (categories != null)
                            {
                            foreach (var category in categories)
                            {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                            }
                            </select> *@
                        </div>
                        <br />


                        <button class="btn btn-outline-danger">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>




