@model IEnumerable<GMAShop.Images.WebUI.Dal.Entities.Image>

@{
    ViewData["Title"] = "Create";
    Layout = null;

}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div class="container" style="margin-top:40px;">

    <form method="post" enctype="multipart/form-data">
        <label>Görsel Adı</label>
        <input type="text" class="form-control border" name="Name" />

        <br />
        <label>Dosya Seç</label>
        <input type="file" class="form-control border" name="Photo" />
        <br />

        <input name="SavedUrl" type="hidden" class="form-control" />
        <input name="SavedFileName" type="hidden" class="form-control" />
        <button class="btn btn-outline-info">Dosyayı Kaydet</button>

    </form>
</div>

