@{
    ViewData["Title"] = "Home";
    Layout = "_UILayout";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Anasayfa</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>


<partial name="Components/_CarouselDefaultComponentPartial/Default"/>
<partial name="Components/_FeatureDefaultComponentPartial/Default"/>
<partial name="Components/_CategoriesDefaultComponentPartial/Default"/>
<partial name="Components/_FeatureProductsDefaultComponentPartial/Default"/>
<partial name="Components/_OfferDiscountDefaultComponentPartial/Default"/>
<partial name="Components/_VendorDefaultComponentPartial/Default"/>