<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/Images/default product 1.webp" class="img-circle" alt="User Image" style="max-width:85px"> </div>

        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li> <a href="/admin/category/index"> <i class="fa fa-th"></i> <span>Kategori</span></a> </li>
            <li> <a href="/admin/product/index"> <i class="fa fa-institution"></i> <span>Ürünler</span></a> </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>