@model List<UserDetailViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div>

    @foreach (var item in Model)
    {
        <table>
            <tr>
                <th>name</th>
                <th>surname</th>
                <th>username</th>
                <th>email</th>
            </tr>
            

            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
            </tr>
        </table>
    }
</div>
