@model UserDetailViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br /><br />
    <h3 class="mb-4 text-primary">Kullanıcı Profil Bilgisi</h3>
    <div class="card shadow mb-3">
        <div class="card-body">
            <h5 class="card-title text-secondary">Kullanıcı Bilgileri</h5>
            <p class="card-text"><strong>Kullanıcı Id:</strong> @Model?.Id ?? "Bilinmiyor"</p>
            <p class="card-text"><strong>Kullanıcı Adı:</strong> @Model?.Username ?? "Bilinmiyor"</p>
            <p class="card-text"><strong>Ad Soyad:</strong> @Model?.Name ?? "Bilinmiyor" @Model?.Surname ?? ""</p>
            <p class="card-text"><strong>Email Adresi:</strong> @Model?.Email ?? "Bilinmiyor"</p>
        </div>
    </div>
</div>
