<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>

<partial name="Components/AdminLayoutHeadComponentPartial/Default" />

<body class="sidebar-mini">
    <div class="wrapper">

        <partial name="Components/AdminLayoutHeaderComponentPartial/Default" />
        <partial name="Components/AdminLayoutSidebarComponentPartial/Default" />

        <div class="content-wrapper">

            <partial name="Components/AdminLayoutMainSectionViewbagComponentPartial/Default" />


            @RenderBody();

        </div>

        <footer class="main-footer dark-bg">
            <div class="pull-right hidden-xs"> Version 1.0</div>
            Copyright &copy; 2017 Yourdomian. All rights reserved.
        </footer>
    </div>

    <script src="/OvioAdmin/html/dist/js/jquery.min.js"></script>
    <script src="/OvioAdmin/html/bootstrap/js/bootstrap.min.js"></script>
    <script src="/OvioAdmin/html/dist/js/ovio.js"></script>
</body>
</html>
