@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}



<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Yeni Kategori Ekleme Sayfası</h4>

                <div class="bs-example" data-example-id="simple-table">
                    <form method="post">
                        <label> Kategori Adı</label>
                        <input type="text" class="form-control" asp-for="CategoryName" />
                        <button class="btn btn-outline-danger">Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
