@model CreateContactDto
@{
    ViewData["Title"] = "Index";
    Layout = "UILayout/_UILayout";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <span class="breadcrumb-item active">İletişim</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Bize Yazın</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="control-group">
                        <input type="text" class="form-control" asp-for="NameSurname" placeholder="Adınız soyadınız" required="required" />
                        <span asp-validation-for="NameSurname" class="text-danger"></span>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email Adresiniz" required="required" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" asp-for="Subject" placeholder="Mesaj Konusu" required="required" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8" asp-for="Message" placeholder="Mesajınız" required="required"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit">Mesajı Gönder</button>
                    </div>
                </form>
            </div>
        </div>
        @await Component.InvokeAsync("_ContactDetailComponentPartial")
    </div>
</div>
<!-- Contact End -->
