<!DOCTYPE html>
<html lang="en">

<partial name="Components/_HeadUILayoutComponentPartial/Default"/>

<body>
<!-- Topbar Start -->
<partial name="Components/_TopBarUILayoutComponentPartial/Default"/>
<partial name="Components/_NavbarUILayoutComponentPartial/Default"/>

<!-- Topbar End -->

<!-- Navbar Start -->

<!-- Navbar End -->

<!-- Breadcrumb Start -->
@RenderBody()
<!-- Breadcrumb End -->
<partial name="Components/_CarouselDefaultComponentPartial/Default"/>

<partial name="Components/_FeaturedDefaultComponentPartial/Default"/>
<partial name="Components/_CategoriesDefaultComponentPartial/Default"/>
<!-- Contact Start -->
<!-- Contact End -->

<!-- Footer Start -->
<partial name="Components/_FooterUILayoutComponentPartial/Default"/>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="~/onlineShop/lib/easing/easing.min.js"></script>
<script src="~/onlineShop/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="~/onlineShop/mail/jqBootstrapValidation.min.js"></script>
<script src="~/onlineShop/mail/contact.js"></script>

<!-- Template Javascript -->
<script src="~/onlineShop/js/main.js"></script>
</body>
</html>