<!DOCTYPE html>
<html lang="en">

<partial name="Components/_HeadUILayoutComponentPartial/Default" />

<body>

    <partial name="Components/_TopBarUILayoutComponentPartial/Default" />
    <partial name="Components/_NavbarUILayoutComponentPartial/Default" />

    @RenderBody()



    <partial name="Components/_FooterUILayoutComponentPartial/Default" />



    <a href="#" class="btn btn-primary back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>

    <partial name="Components/_ScriptUILayoutComponentPartial/Default" />

</body>
</html>