<!DOCTYPE html>
<html lang="en">

<partial name="Components/UILayoutViewComponents/_HeadUILayoutComponentPartial/Default"/>

<body>

<partial name="Components/UILayoutViewComponents/_TopBarUILayoutComponentPartial/Default"/>
<partial name="Components/UILayoutViewComponents/_NavbarUILayoutComponentPartial/Default"/>

@RenderBody()



<partial name="Components/UILayoutViewComponents/_FooterUILayoutComponentPartial/Default"/>



<a href="#" class="btn btn-primary back-to-top">
    <i class="fa fa-angle-double-up"></i>
</a>

<partial name="Components/UILayoutViewComponents/_ScriptUILayoutComponentPartial/Default"/>
</body>
</html>