@inject  Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer 

@{
    ViewBag.Title = "title";
    Layout = "UILayout/_UILayout";
}

<h2>@localizer["Merhaba"] merhaba ben mustafa barlas bu yazılım çalışmasının geliştiricisiyim. birden fazla geliştirilmiş çalışmam var </h2>
